.poll-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}

.poll-container{
  margin-bottom: 16px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
